#### 1. Import pandas library

In [28]:
import pandas as pd

#### 2. Import users table:

In [29]:
users = pd.read_csv('users_table.csv')

#### 3. Rename Id column to userId

In [30]:
users = users.rename(columns={'Id':'userId'})
print(users.head())

   userId  Reputation         CreationDate   DisplayName       LastAccessDate  \
0      -1           1  2010-07-19 06:55:26     Community  2010-07-19 06:55:26
1       2         101  2010-07-19 14:01:36  Geoff Dalgas  2013-11-12 22:07:23
2       3         101  2010-07-19 15:34:50  Jarrod Dixon  2014-08-08 06:42:58
3       4         101  2010-07-19 19:03:27        Emmett  2014-01-02 09:31:02
4       5        6792  2010-07-19 19:03:57         Shane  2014-08-13 00:23:47

                       WebsiteUrl            Location  \
0  http://meta.stackexchange.com/  on the server farm
1        http://stackoverflow.com       Corvallis, OR
2        http://stackoverflow.com        New York, NY
3    http://minesweeperonline.com   San Francisco, CA
4         http://www.statalgo.com        New York, NY

                                             AboutMe  Views  UpVotes  \
0  <p>Hi, I'm not really a person.</p>\n\n<p>I'm ...      0     5007
1  <p>Developer on the StackOverflow team.  Find ...     25        3
2  <p><a href="http://blog.stackoverflow.com/2009...     22       19
3  <p>currently at a startup in SF</p>\n\n<p>form...     11        0
4  <p>Quantitative researcher focusing on statist...   1145      662

   DownVotes  AccountId   Age                     ProfileImageUrl
0       1920         -1   NaN                                 NaN
1          0          2  37.0                                 NaN
2          0          3  35.0                                 NaN
3          0       1998  28.0  http://i.stack.imgur.com/d1oHX.jpg
4          5      54503  35.0                                 NaN

#### 4. Import posts table:

In [31]:
posts = pd.read_csv('posts_table.csv')

#### 5. Rename Id column to postId and OwnerUserId to userId

In [32]:
posts = posts.rename(columns={'Id':'postId','OwnerUserId':'userId'})
print(posts.head())

   postId  PostTypeId  AcceptedAnswerId          CreaionDate  Score  \
0       1           1              15.0  2010-07-19 19:12:12     23
1       2           1              59.0  2010-07-19 19:12:57     22
2       3           1               5.0  2010-07-19 19:13:28     54
3       4           1             135.0  2010-07-19 19:13:31     13
4       5           2               NaN  2010-07-19 19:14:43     81

   ViewCount                                               Body  userId  \
0     1278.0  <p>How should I elicit prior distributions fro...     8.0
1     8198.0  <p>In many different statistical methods there...    24.0
2     3613.0  <p>What are some valuable Statistical Analysis...    18.0
3     5224.0  <p>I have two groups of data.  Each with a dif...    23.0
4        NaN  <p>The R-project</p>\n\n<p><a href="http://www...    23.0

       LasActivityDate                                              Title  \
0  2010-09-15 21:08:26                      Eliciting priors from experts
1  2012-11-12 09:21:54                                 What is normality?
2  2013-05-27 14:48:36  What are some valuable Statistical Analysis op...
3  2010-09-08 03:00:19  Assessing the significance of differences in d...
4  2010-07-19 19:21:15                                                NaN

   ... AnswerCount  CommentCount  FavoriteCount  LastEditorUserId  \
0  ...         5.0             1           14.0               NaN
1  ...         7.0             1            8.0              88.0
2  ...        19.0             4           36.0             183.0
3  ...         5.0             2            2.0               NaN
4  ...         NaN             3            NaN              23.0

          LastEditDate   CommunityOwnedDate ParentId  ClosedDate  \
0                  NaN                  NaN      NaN         NaN
1  2010-08-07 17:56:44                  NaN      NaN         NaN
2  2011-02-12 05:50:03  2010-07-19 19:13:28      NaN         NaN
3                  NaN                  NaN      NaN         NaN
4  2010-07-19 19:21:15  2010-07-19 19:14:43      3.0         NaN

  OwnerDisplayName LastEditorDisplayName
0              NaN                   NaN
1              NaN                   NaN
2              NaN                   NaN
3              NaN                   NaN
4              NaN                   NaN

[5 rows x 21 columns]

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [34]:
new_users = users[['userId', 'Reputation','Views','UpVotes','DownVotes']]
new_posts = posts[['postId', 'Score','userId','ViewCount','CommentCount']]

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [51]:
new_data = new_users.merge(new_posts)

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [54]:
new_data.isnull().sum()
#Total number of missing data is 23572 and you may find this in column viewcount

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       23572
CommentCount        0
dtype: int64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [58]:
#I would clean it, since if there is no viewer, it shouldn't have the other values
new_data = new_data.dropna()
new_data.isnull().sum()

userId          0
Reputation      0
Views           0
UpVotes         0
DownVotes       0
postId          0
Score           0
ViewCount       0
CommentCount    0
dtype: int64

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [62]:
new_data.info()
#We shall adjust the column ViewCount which is showing a float type
new_data['ViewCount'] = new_data['ViewCount'].astype('int')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15390 entries, 123 to 38960
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   userId        15390 non-null  int64
 1   Reputation    15390 non-null  int64
 2   Views         15390 non-null  int64
 3   UpVotes       15390 non-null  int64
 4   DownVotes     15390 non-null  int64
 5   postId        15390 non-null  int64
 6   Score         15390 non-null  int64
 7   ViewCount     15390 non-null  int64
 8   CommentCount  15390 non-null  int64
dtypes: int64(9)
memory usage: 1.2 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 15390 entries, 123 to 38960
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   userId        15390 non-null  int64
 1   Reputation    15390 non-null  int64
 2   Views         15390 non-null  int64
 3   UpVotes       15390 non-null  int64
 4   DownVotes     15390 non-null  int64
 5   postId        15390 non-null  int64
 6   Score         15390 non-null  int64
 7   ViewCount     15390 non-null  int64
 8   CommentCount  15390 non-null  int64
dtypes: int64(9)
memory usage: 1.2 MB